<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Analytics</title>
</head>

<body>

	<table>
		<thead>
			<th>Sr No.</th>
			<th>Short IDs</th>
			<th>Redirect URL</th>
			<th>Visit Count</th>
		</thead>
		<% if (locals.one) { %>
			<tbody>
				<td> - </td>
				<td>
					<%= data.shortId%>
				</td>
				<td>
					<%= data.redirectURL%>
				</td>
				<td>
					<%= data.visitHistory.length%>
				</td>
			</tbody>
			<thead>
				<th>Sr No.</th>
				<th>Visit History</th>
			</thead>
			<tbody>
				<%  locals.data.visitHistory.forEach((data, index)=> { %>
					<tr>
						<td>
							<%= index+1%>
						</td>
						<td>
							<%var date = new Date(data.timestamp)%>
							<%= date.toString()%>
						</td>
					</tr>
					<% }) %>
			</tbody>
			<% } else { %>
				<!-- <thead>
					<th>Short IDs</th>
					<th>Redirect URL</th>
					<th>Visit Count</th>
				</thead> -->
				<tbody>
					<% locals.data.forEach((data, index)=> { %>
						<tr>
							<td>
								<%= index+1%>
							</td>
							<td>
								<%= data.shortId%>
							</td>
							<td>
								<%= data.redirectURL%>
							</td>
							<td>
								<%= data.visitHistory.length%>
							</td>
						</tr>
						<% }) %>
				</tbody>
				<% } %>
	</table>

</body>

</html>